<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>QA</title>
        <script src="https://unpkg.com/feather-icons"></script>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        
        <h1>QA</h1>
        <a href="QAaskForm"><button type="button" class="btn">Ask</button></a>
        
        <div class="main">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">QA id</th>
                <th scope="col">Question</th>
                <th scope="col">Asked_by</th>
                <th scope="col">Lesson</th>
                <th scope="col">View</th>
              </tr>
            </thead>
            <tbody>
                <% data.forEach(function(data){ %>
                    <tr>
                      <td><%= data.qa_id%></td>
                      <td><%= data.question%></td>
                      <td><%= data.asked_by%></td>
                      <td><%= data.lesson_id%></td>
                      <td><a href="/QAdetails/<%= data.qa_id %>"><i data-feather="edit"></i></a></td>
                    </tr>
                    <% }) %>
            </tbody>
          </table>
        </div>

          <script>
            feather.replace()
          </script>
        <script src="" async defer></script>
    </body>
</html>